* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 1200px;
}

.container {
  display: flex;
  justify-content: center;
}

.example {
  display: flex;
  justify-content: space-around;

  width: 800px;
  margin: 50px;
  background-color: #d6e9fe;
}

.item img {
  display: block;
}

.item-relative {
  position: relative;
  top: 30px; /* bottom: 30px; this will nudge the box in the opposite direction */
  left: 30px; /* right: 30px; this will nudge the box in the opposite direction */
}
